:root{
  --size: 2.5vw;
}
*{
  color:white;
  font-family: 'Glacial Indifference', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
body{
  padding: 0;
  margin: 0;
}
nav{
  position: fixed;
  width:100%;
  height: calc(var(--size) * 2);
  top:0;
  backdrop-filter:blur(50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > *{
  font-size: calc(var(--size) * 1.5)
}
#title{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--size) * 2);
  font-weight: bolder;
  text-shadow:
  0 0.15em 0.4em rgba(0, 0, 0, 0.55),
  0 0.05em 0.15em rgba(0, 0, 0, 0.75);
}
b{
  text-transform: uppercase;
}
#background{
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

#content{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.fields{
  display: flex;
  flex-direction: column;
  z-index:1;
  padding:.5rem;
  border-radius: 2vh;
  animation: idle 32s infinite;
  position: relative;
}
#person-position {
  position: relative;
  top:20%;
}
#people-present > *{
  font-size: calc(var(--size) * 1.5);
  text-shadow:
  0 0.15em 0.4em rgba(0, 0, 0, 0.55),
  0 0.05em 0.15em rgba(0, 0, 0, 0.75);
}
#DateTime > *{
  font-size: calc(var(--size) * 1.5);
  text-shadow:
  0 0.15em 0.4em rgba(0, 0, 0, 0.55),
  0 0.05em 0.15em rgba(0, 0, 0, 0.75);
}

@media (max-width:700px) {
  :root{
    --size: 3vh
  }
}
